--
-- PostgreSQL database dump
--

-- Dumped from database version 14.4
-- Dumped by pg_dump version 14.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: area_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.area_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.area_id_seq OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: area; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.area (
    id integer DEFAULT nextval('public.area_id_seq'::regclass) NOT NULL,
    code character varying(20),
    name character varying(50),
    create_at timestamp without time zone
);


ALTER TABLE public.area OWNER TO postgres;

--
-- Name: TABLE area; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.area IS '地区';


--
-- Name: area_tag_object_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.area_tag_object_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.area_tag_object_seq OWNER TO postgres;

--
-- Name: area_tag_object; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.area_tag_object (
    id bigint DEFAULT nextval('public.area_tag_object_seq'::regclass) NOT NULL,
    area_id integer,
    object_id bigint,
    create_at timestamp without time zone
);


ALTER TABLE public.area_tag_object OWNER TO postgres;

--
-- Name: attribute; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attribute (
    id bigint NOT NULL,
    object_id bigint,
    code character varying(30),
    name character varying(50),
    type character varying(20),
    value_scale character varying(100),
    memo character varying(200)
);


ALTER TABLE public.attribute OWNER TO postgres;

--
-- Name: TABLE attribute; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.attribute IS '属性';


--
-- Name: concept_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.concept_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.concept_id_seq OWNER TO postgres;

--
-- Name: concept; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.concept (
    id bigint DEFAULT nextval('public.concept_id_seq'::regclass) NOT NULL,
    code character varying(20),
    name character varying(50),
    memo character varying(200),
    create_at timestamp without time zone
);


ALTER TABLE public.concept OWNER TO postgres;

--
-- Name: TABLE concept; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.concept IS '概念';


--
-- Name: concept_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.concept_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.concept_tag_id_seq OWNER TO postgres;

--
-- Name: concept_tag_object; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.concept_tag_object (
    id bigint DEFAULT nextval('public.concept_tag_id_seq'::regclass) NOT NULL,
    concept_id bigint NOT NULL,
    object_id bigint NOT NULL,
    create_at timestamp without time zone
);


ALTER TABLE public.concept_tag_object OWNER TO postgres;

--
-- Name: TABLE concept_tag_object; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.concept_tag_object IS '标的所属概念tag';


--
-- Name: concept_tag_object_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.concept_tag_object_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.concept_tag_object_seq OWNER TO postgres;

--
-- Name: industry_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.industry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.industry_id_seq OWNER TO postgres;

--
-- Name: industry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.industry (
    id integer DEFAULT nextval('public.industry_id_seq'::regclass) NOT NULL,
    code character varying(20),
    name character varying(50),
    create_at timestamp without time zone
);


ALTER TABLE public.industry OWNER TO postgres;

--
-- Name: TABLE industry; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.industry IS '行业';


--
-- Name: industry_tag_object_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.industry_tag_object_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.industry_tag_object_seq OWNER TO postgres;

--
-- Name: industry_tag_object; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.industry_tag_object (
    id bigint DEFAULT nextval('public.industry_tag_object_seq'::regclass) NOT NULL,
    industry_id integer,
    object_id bigint,
    create_at timestamp without time zone
);


ALTER TABLE public.industry_tag_object OWNER TO postgres;

--
-- Name: object_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.object_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.object_id_seq OWNER TO postgres;

--
-- Name: object; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.object (
    id bigint DEFAULT nextval('public.object_id_seq'::regclass) NOT NULL,
    code character varying(20),
    name character varying(50),
    memo character varying(200),
    create_at timestamp without time zone
);


ALTER TABLE public.object OWNER TO postgres;

--
-- Name: TABLE object; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.object IS '标的';


--
-- Name: object_day_value; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.object_day_value (
    day date NOT NULL,
    stockcode character varying(20) NOT NULL,
    open numeric(8,2),
    close numeric(8,2),
    height numeric(8,2),
    lower numeric(8,2),
    volume bigint,
    turnover bigint,
    amplitude numeric(8,2),
    amt_inc_dec numeric(8,2),
    change_amt numeric(8,2),
    turnover_rate numeric(8,2),
    id uuid NOT NULL
);


ALTER TABLE public.object_day_value OWNER TO postgres;

--
-- Name: TABLE object_day_value; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.object_day_value IS '日数据';


--
-- Data for Name: area; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: area_tag_object; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: attribute; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attribute (id, object_id, code, name, type, value_scale, memo) FROM stdin;
\.


--
-- Data for Name: concept; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: concept_tag_object; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: industry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: industry_tag_object; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: object; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: object_day_value; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.object_day_value (day, stockcode, open, close, height, lower, volume, turnover, amplitude, amt_inc_dec, change_amt, turnover_rate, id) FROM stdin;
\.


--
-- Name: area_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.area_id_seq', 125, true);


--
-- Name: area_tag_object_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.area_tag_object_seq', 1210, true);


--
-- Name: concept_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.concept_id_seq', 1158, true);


--
-- Name: concept_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.concept_tag_id_seq', 9610, true);


--
-- Name: concept_tag_object_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.concept_tag_object_seq', 1, false);


--
-- Name: industry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.industry_id_seq', 258, true);


--
-- Name: industry_tag_object_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.industry_tag_object_seq', 1188, true);


--
-- Name: object_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.object_id_seq', 10156, true);


--
-- Name: area area_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.area
    ADD CONSTRAINT area_name UNIQUE (name);


--
-- Name: area area_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.area
    ADD CONSTRAINT area_pkey PRIMARY KEY (id);


--
-- Name: area_tag_object area_tag_object_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.area_tag_object
    ADD CONSTRAINT area_tag_object_pkey PRIMARY KEY (id);


--
-- Name: attribute attribute_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attribute
    ADD CONSTRAINT attribute_pkey PRIMARY KEY (id);


--
-- Name: concept concept_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.concept
    ADD CONSTRAINT concept_name UNIQUE (name);


--
-- Name: concept concept_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.concept
    ADD CONSTRAINT concept_pkey PRIMARY KEY (id);


--
-- Name: concept_tag_object concept_tag_object_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.concept_tag_object
    ADD CONSTRAINT concept_tag_object_pkey PRIMARY KEY (id);


--
-- Name: industry industry_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.industry
    ADD CONSTRAINT industry_name UNIQUE (name);


--
-- Name: industry industry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.industry
    ADD CONSTRAINT industry_pkey PRIMARY KEY (id);


--
-- Name: industry_tag_object industry_tag_object_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.industry_tag_object
    ADD CONSTRAINT industry_tag_object_pkey PRIMARY KEY (id);


--
-- Name: object object_code; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.object
    ADD CONSTRAINT object_code UNIQUE (code);


--
-- Name: object_day_value object_day_value_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.object_day_value
    ADD CONSTRAINT object_day_value_pkey PRIMARY KEY (id);


--
-- Name: object object_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.object
    ADD CONSTRAINT object_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

